html
  head
    title Dashboard :: Register
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    .login.well.mt-2
      
      //- div 
        
      div(class="col-5 m-0 m-auto border")
        h3(class="text-center font-weight-bold") Sign up
        ul.errors.pt-3
          if errors 
            each error, i in errors
              li.alert.alert-danger #{JSON.stringify(error.msg)}
        form(id='register-form', method='POST', action='/signup' )
          div(class="form-group row")
            div(class="col-6")
                input(type='text', name='firstName', class='form-control', 
                  id='firstName', placeholder='Enter First Name')
            div(class="col-6")
                input(type='text', name='lastName', class='form-control', 
                  id='lastName', placeholder='Enter lastName')
          .form-group
            input(type='email', name='email', class='form-control', 
              id='email', placeholder='Enter email')   
          .form-group
            input(type='password', name='password', class='form-control', 
              id='password', placeholder='Enter password') 
          .form-group
            input(type='text', name='phoneNumber', class='form-control', 
              id='phoneNumber', placeholder='Enter phone number')
          .form-group.text-center
            input(type='checkbox', name='subscribe',id='subscribe')
            label(for='subscribe',class="pl-2") Subscibe to our news letter  
          .form-group.text-center
            button.btn.btn-primary.btn-block SIGN IN

            div(class="text-center")  
              span By clicking 
              i Sign up 
              span you agree to our 
              span(class="text-primary") terms of our service 